.navbar {
    font-style: italic;
    font-family: sofia-pro;
    font-size: large;
    font-style: bold;
}

.navbar-item {
    color: #f77502;
}

.navbar-link{
    color: #f77502;
}

.footer{
    background-color: bisque;
    color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.link{
    color: black;
    text-decoration: underline;

}

#header-logo{
    max-height: max-content;
    background-size: cover;
    width: 200px;
    height: 200px;
  }