body{
    margin: 18px;
}

.title{
    text-align: center;
    font-family: 'Varela', sans-serif;
}

.columns{
    margin: center;
}

.navbar {
    font-family: 'Varela', sans-serif;
    font-size: large;
    font-style: bold;
}

.navbar-item {
    color: #f77502;
}

.navbar-link{
    color: #f77502;
}

.footer{
    background-color: bisque;
    color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.link{
    color: black;
    text-decoration: underline;

}

#header-logo{
    max-height: max-content;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: -175px 00 -175px;
  }