{% extends 'base.html' %}
{% block title %}Educational Pods{% endblock %}
{%block content%}
    <body>
        <h1 class="title pt-5">Pod Class Overview</h1>
      </br>
        <div class="columns">
            <div class="column is-8" style="background-color:#efb284;">
              <h2>Is this for You?</h2>
              <p>Our tailored programs are designed for students currently engaged in remote learning, navigating a hybrid of remote and in-person classes, or enjoying the flexibility of homeschooling.
                <b></b>
                <h3>With our instructors, your child receives an unparalleled educational experience, complete with 100% of the instructor's attention and a personalized academic program. All of this comes at a cost that's remarkably affordable - just around 50% of traditional private education.</h3> 
                <b></b>   
                <h3>If you are looking to create a unique and enriching educational path for your child without compromising quality, then you're at the right place! Discover the perfect blend of personalized attention and cost-effectiveness with Next Generation Startup. Elevate your child's learning experience with us!</h3>
              </p>
            </div>
            <div class="column is-3" style="background-color:#bbbbbb;">
              <h2>Column 2</h2>
              <p>Some text..</p>
            </div>
        </div>
       
{%endblock%}