{% extends 'base.html' %}
{% block title %}Our Mission{% endblock %}
{%block content%}
    <body>
        <div>
            <img src="https://i.ibb.co/m6WxVNH/IMG-0001-1.jpg">
        </div>
        <h1 class="major-title">Our Mission</h1>
    <br>
    <div class="paragraph">
        <p>At Next Generation Startup, we're on a mission to inspire young minds to be the architects of future innovation. Our aim is to empower students not just with business acumen but with the essential skills that fuel creativity, leadership, and entrepreneurial spirit.</p>
        <br>
        <p>We foster an environment where children's creativity is nurtured, helping them envision turning their interests into something extraordinary. Through engaging and enjoyable classes in textile printing, electronics, chemical reactions, coding, and more, students not only learn valuable skills but also gain insights into the inner workings of businesses. The focus is on making the learning process enjoyable and empowering, enabling every student to see their passions as pathways to success.</p>
        <br>  
        <p>What sets our program apart is the integration of STEAM (Science, Technology, Engineering, Arts, and Mathematics) subjects in a practical business context. Our courses challenge students to move beyond mere exploration and embrace the mindset of entrepreneurship within these diverse fields.</p>
        <p>At Next Generation Startup, our commitment is to educate, engage, and empower the next generation of youth in the dynamic world of entrepreneurship, fostering skills that go beyond business success to encompass leadership, innovation, and a lifelong love for learning! </p>
    </div>
    <br>
    <h1 class="major-title">Our Methodology</h1>
    <br>
    <div class="paragraph">
        <p>Embark on a dynamic learning journey with our project-based approach, where students actively cultivate essential skills integral to every aspiring entrepreneur's toolkit. Most classes follow a structured format, encompassing a comprehensive lesson, engaging experiments or learning exercises, and culminating in a final project that puts into practice the concepts considered.</p>
        <br>
        <p>Our curriculum covers a spectrum of topics crucial to business success, ranging from crafting comprehensive business plans to mastering the art of money management, strategic marketing, and delivering compelling Elevator Pitches.</p>
        <br>
        <p>As a culmination of the course, students will not only refine their skills but also have the exciting opportunity to market and sell their own creations, translating theory into real-world practice.</p>
        <p>To ensure an enriching experience, we maintain a small instructor-to-student ratio of 6:1, fostering a personalized and attentive learning environment. Join us as we blend professionalism, appeal, and fun to empower the next generation of entrepreneurial leaders!</p>
    </div>

{%endblock%}