{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <script src="{% static 'scripts/main.js' %}" defer></script>
        <title>NextGenStartup - {% block title %}{% endblock %}</title> 
    </head>
    <body >
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <!-- Icon -->
            <div class="navbar-brand">
                <a class="navbar-item" href="">
                  <img src="https://i.ibb.co/JzpBnHb/Next-Generation-Startup-Logo-A-2-Mockup.jpg" width="60" height="52">
                </a>
            
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-end">
                <!-- Home -->
                <a class="navbar-item" href="/">
                    Home
                </a>
                <!-- About dropdown -->
                <div class="navbar-item has-dropdown is-hoverable"> 
                    <a class="navbar-link">
                        About
                    </a>
    
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about/OurMission">
                            Our Mission
                        </a>
                        <a class="navbar-item" href="/about/EducationalPods">
                            Educational Pods
                        </a>
                        <a class="navbar-item" href="/about/Schools">
                            Schools
                        </a>
                        <a class="navbar-item" href="/about/ForParents">
                            For Parents
                        </a>
                        <a class="navbar-item" href="/about/MainGallery">
                            Main Gallery
                        </a>
                    </div>
                </div>
                <!-- Our Programs -->
                <div class="navbar-item has-dropdown is-hoverable"> 
                    <a class="navbar-link">
                        Our Programs
                    </a>
    
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            After School Classes
                        </a>
                        <a class="navbar-item">
                            Vacation Camps
                        </a>
                        <a class="navbar-item">
                            Private Sessions
                        </a>
                    </div>
                    <!-- Contact -->
                    <a class="navbar-item">
                        Contact
                    </a>
                    <!-- Gallery -->
                    <a class="navbar-item">
                        Gallery
                    </a>
            </div>
            </div>
        </nav>
        {%block content%}{%endblock%}
    </body>
    <hr>
    <div class="footer">
        <div class="columns">
            <div class="column is-4">NEXT GENERATION STARTUP</div>
            <div class="column is-2">INFO</div>
            <div class="column is-2">ACTION</div>
        </div>
        <div class="columns">
            <div class="column is-4">(917)292-5575</div>
            <div class="column is-2">
                <a href="" class="link">Mission</a>
            </div>
            <div class="column is-2">
                <a href="" class="link">CONTACT</a>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">info@nextgenerationstartup.com</div>
            <div class="column is-2">
                <a href="" class="link">After-School</a>
            </div>
    </div>
</html>