<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NGS Home</title>
    </head>
    <body>
        <h1>Next Generation Startup</h1>
        <h2>Check out our pod classes (insertlinkhere)</h2>
        <h2>See our Virtual in-home (insertAfter-schoollinkhere) programs</h2>
        <div>
            <p>gallery</p>
        </div>
        <div>
            <p>line ______________</p>
        </div>
        <div>
            <h3>Take a look at our most recent projects!</h3>
            <button>In-home Gallery</button>
            <button>After-School Gallery</button>
            <button>Private Pod Gallery</button>
        </div>
    </body>
</html>