{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{%block content%}
    <body>
        <h1>Next Generation Startup</h1>
        <a href="https://ibb.co/0qGpkSs"><img src="https://i.ibb.co/ZdMR3P2/Adobe-Stock-120363281.jpg" alt="Adobe-Stock-120363281"></a>
        <br/>
        <h2>Check out our pod classes (insertlinkhere)</h2>
        <h2>See our <a href="course_list.html">After-School & in-home </a>programs</h2>
        <div>
            <p>gallery</p>
        </div>
        <div>
            <p>line ________s______</p>
        </div>
        <div>
            <h3>Take a look at our most recent projects!</h3>
            <button>In-home Gallery</button>
            <button>After-School Gallery</button>
            <button>Private Pod Gallery</button>
        </div>
{%endblock%}