{% extends 'base.html' %}

{% comment %}Enrichment after-School programs in science, technology, engineering and mathematics with fun and practical applications {% endcomment %}
{% block title%}course{% endblock %}

{% block content %}

<h1 class="title pt-5">STEAM Courses</h1>
<div class="gallery">
  {% for course in courses %}
  <a href="">
  <div class="columns">
    <div class="column is-2">
          <figure class="image is-4by5">
            <img src="{{course.image}}" alt="{{course.name}}" />
          </figure>
      </div>
      <div class="column is-6">
          <p class="title">{{course.name}}</p>
          <p class="subtitle">{{course.description}}</p>
      </div>
  </div>
</a>
<br>
  {% endfor %}
</div>
{% endblock %}